* {
    box-sizing: border-box;
}


/* ESTILOS MODIFICADOS DE BOOTSTRAP */
.navbar-toggler{
    border: none;
    color: transparent;
}

.navbar-toggler-icon{
    background-image: url(../img/elementos/burger-menu.png);
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #ccb47fb0;
}

.nav-link:focus, .nav-link:hover {
    color: #CCB47F ;
}
.accordion-button{
    background-color:#ccb47f75;
    backdrop-filter: blur(4px);
}

.accordion-item{
    background-color: #2b272800 !important;
    border: none;
}

.accordion-button::after {
    margin-left: 0;
}

/* ESTILOS DE TODA LA WEB */
.contenedor-pricipal{
    max-width: 2000px;
    width: 100%;
}

.titulo{
    font-family: "Mirza", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    color: #CCB47F;
}

.titulo-oscuro{
    font-family: "Mirza", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    color: #2B2728;
}

.subtitulo{
    font-family: "Mirza", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    color: #CCB47F;
}

.texto-contenido{
    font-family: "Mitr", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    color: #CCB47F;
}

.tx-contenido-oscuro{
    font-family: "Mitr", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: #2B2728;
}

.texto-resaltado{
    font-family: "Mitr", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    color: #CCB47F;
}

.texto-boton{
    font-family: "Mitr", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2rem;
    color: #CCB47F;
}

.fondo-color-ppal{
    background-color: #383B40;
}

.fondo-color-secundario{
    background: #2B2728;
}

.fondo-color-acento{
    background: #CCB47F;
}

.f-c-a-transparente{
    background: #ccb47f94;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: 0px 5px 21px 0px rgba(0,0,0,0.75);
}

.f-c-s-transparente{
    background: #2b272873;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: 0px 5px 21px 0px rgba(0,0,0,0.75);
}

.color-secundario{
    color: #2B2728;
}

.color-acento{
    color: #CCB47F;
}

.columna {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textura{
    background-image: url(../img/elementos/fondo-textura.png);
    background-attachment: fixed;
}

a{
    text-decoration: none;
    color: #CCB47F;
}

/* HEADER */
.logo img{
    height: 45px;
}
nav{
    
    max-width: 2000px;
    margin: auto;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
}


/* FOOTER */
.logo-footer img{
    height: 25px;
}

footer{
    width: 100%;
}

/* HOME */
.fondo-oscuro-difuminado{
    background-color: #2b27282e;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: 0px 5px 21px 0px rgba(0,0,0,0.75);
    
}

/* ANIMACION DE LOS BOTONES */
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }

.boton-home {
    border-radius: 5px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.50);
    border: 1px solid #CCB47F;
    cursor: pointer;
    animation: pulse 1.5s infinite;
}

.portada-circular{
    display: none;
}

.portada-horizontal{
    height: 180px;
    width: 100%;
    object-fit: cover;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.50);
}

.overlay{
    display: none;
}

/* INDEX PLANTAS MEDICINALES */
.img-item-circular{
    display: block;
    border-radius: 100%;
    height: 150px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.50);
}

.portada-plantas, .portada-cristales {
    position: relative;
    display: inline-block;
}

.portada-plantas img, .portada-cristales img{
    height: 280px;
    border-radius: 100%;
    display: block;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.50);
}

.portada-cristales img{
    height: 200px;
}

.portada-plantas .boton-home, .portada-cristales .boton-home{
    position: absolute;

}
 
/*  PLANTAS */
.boton-nav {
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px #0000006f;
    border: 1px solid #CCB47F;
    cursor: pointer;
    font-size: 0.9rem;
}

/* HIERBAS */
.tarjeta img{
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.50);
}

/* SECICION HISTORIA */
.img-contenido-historia, .img-estudiante{
    display: block;
    border-radius: 100%;
    height: 250px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.50);
}

/* SECCION ALUMNA */
.herramientas li{
    list-style: none;
}

.herramientas img{
    height: 90px;
}

/* RECETAS */
.img-recetas{
    border-radius: 1rem;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.50);
    height: 100%;
}

/* TIENDA */
/* .card{
    width: 18rem;
} */
.card-text, .card-body .btn{
    font-size: 0.7rem;
}
.card-title{
    font-size: 1rem;
}

/* JUEGO */
.boton-dado{
    background: none;
    border: none;
    box-shadow: none;
}
.boton-opcion{
    background-color: #CCB47F;
    color: #2B2728;
    border: #383B40;
    width: auto;
}

.btn:hover{
    background-color: #696969;
}

/* FORMULARIO */
form ::placeholder{
    font-family: "Mitr", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: #2B2728;
}
.form-control{
    background-color: #CCB47F;
    border: none;
    color: #2B2728;
}

/* RESPONSIVE */
/* MEDIA QUERIES PARA TAMAÑO LAPTOP */
@media (min-width: 992px) {
    .logo img{
        height: 55px;
        margin: 1rem;
    }
    .titulo, .titulo-oscuro{
        font-size: 2.5rem;
    }

    .texto-contenido, .tx-contenido-oscuro, .texto-resaltado{
        font-size: 1.2rem;
    }

    .portada-horizontal{
        display: none;
    }

    .tarjeta .boton-home{
        display: none;
    }

    .portada-circular{
        display: block;
        border-radius: 100%;
        height: 250px;
        box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.50);
    }

    .tarjeta{
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    }

    .overlay, .overlay-plantas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.70);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .overlay p{
        color: #d6ccb7;
        font-size: 1.5rem;
    }

    .tarjeta:hover .blur {
        filter: blur(10px);
    }

      
    .tarjeta:hover .overlay, .tarjeta:hover .overlay-plantas {
        opacity: 1;
    }

    .accordion-button::after {
        display: none;
    }

    .boton-nav{
        font-size: 1.2rem;
    }

    .img-historia{
        display: block;
    }
    .card-text, .card-body .btn{
        font-size: 1rem;
    }
    .card-title{
        font-size: 1.2rem;
    }
    .card{
        width: 20%;
    }
}